
div.page{
    width:80%;
    margin:20px auto;

    ul.product-list{
        height:300px;

        li{
            list-style: none;
            float:left;
            margin:2%;
        }
    }
    
    div.img-box{
        width:240px;
        height:240px;
        background:#fff;
        border:1px solid #eee;
        overflow:hidden;
        
        img{
            width:100%;
            height:auto;
        }
    }
    div.detail-box table td{
        width:100px;
        font-size:12px;
        font-weight:bold;
    }
    p.prod-price{
        font-size:20px;
        font-weight:bold;
        text-align:left;
    }
}