


/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
    $breakpoints: (
    'small': (max-width: 800px),
    );
/// @requires $breakpoints
    @mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
        );

        @media #{$query} {
        @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
    }

/// CSS
    div.page.shop-apply{
        margin:30px auto 100px auto;
        padding:20px;
        border:1px solid #ddd;
        background:#fff;
        border-radius:20px;
        width:800px;
        font-size:12px;
        @include respond-to('small') {
            width:95%;
        }
        h1, h2{
            font-size:16px;
        }
        label:not(.agree){
            width:100%;
        }
        input:not(.agree){
            width:100%;
            height:40px;
            border-radius:5px;
            border:1px solid #ddd;
            padding:8px 10px;
        }
        input[type="submit"]{
            background:#fff;
            &:hover{
                background:lightgreen;
            }
        }
        div.group{
            width:100%;
            clear:both;
            div.form-group{
                margin:10px 0;
                &.half-layout{
                    float:left;
                    width:45%;
                    margin-right:5%;
                }
                
                &.agree{
                    text-align:right;
                    input{
                        position:relative;
                        top:2px;
                    }
                }
            }
        }
    }